.ql-editor .ql-size-small {
  font-size: 0.75em !important;
}
.ql-editor .ql-size-large {
  font-size: 1.5em !important;
}
.ql-editor .ql-size-huge {
  font-size: 2.5em !important;
}
.ql-editor .ql-size-normal {
  font-size: 1em !important;
}

.content-display {
  font-size: 1em; /* Ensure default font size for content */
}
